html,body,ul,menu,nav,a,img,fieldset,h1,h2,h3,h4,h5,h6{text-decoration:none;border:0;padding:0;margin:0;list-style:none;}

.container{float:left;width:100%;}

hr{border-width:1px 0 0;}

.panel{float:left;}
.panel.full{width:100%;}
.panel.half{width:50%;}
.panel.third{width:33.3%;}
.panel.two-third{width:66.6%;}
.panel.fourth{width:25%;}
.panel.three-fourth{width:75%;}
.panel.fifth{width:20%;}
.panel.two-fifth{width:40%;}
.panel.three-fifth{width:60%;}
.panel.four-fifth{width:80%;}
.panel.sixth{width:16%;}
.panel.two-sixth{width:32%;}
.panel.three-sixth{width:48%;}
.panel.four-sixth{width:64%;}
.panel.five-sixth{width:80%;}
.panel.seventh{width:14.2%;}
.panel.two-seventh{width:28%;}
.panel.three-seventh{width:32.8%;}
.panel.four-seventh{width:47%;}
.panel.five-seventh{width:60.2%;}
.panel.six-seventh{width:74.4%;}
.panel.eighth{width:12.5%;}
.panel.two-eighth{width:25%;}
.panel.three-eighth{width:37.5%;}
.panel.four-eighth{width:50%;}
.panel.five-eighth{width:62.5%;}
.panel.six-eighth{width:75%;}
.panel.seven-eighth{width:87.5%;}
.panel.nineth{width:11.1%;}
.panel.two-nineth{width:22.2%;}
.panel.three-nineth{width:33.3%;}
.panel.four-nineth{width:44.4%;}
.panel.five-nineth{width:55.5%;}
.panel.six-nineth{width:66.6%;}
.panel.seven-nineth{width:77.7%;}
.panel.eight-nineth{width:88.8%;}

.panel .content{display:block;}
.panel .content.padding{padding:10px;}
.panel .content.padding-left{padding-left:10px;}
.panel .content.padding-right{padding-right:10px;}
.panel .content.padding-top{padding-top:10px;}
.panel .content.padding-bottom{padding-bottom:10px;}
.panel .content.padding-side{padding:0 10px;}
.panel .content.padding-tops{padding:10px 0;}
.panel .content.margin{margin:10px;}
.panel .content.margin-left{margin-left:10px;}
.panel .content.margin-right{margin-right:10px;}
.panel .content.margin-top{margin-top:10px;}
.panel .content.margin-bottom{margin-bottom:10px;}
.panel .content.margin-side{margin:0 10px;}
.panel .content.margin-tops{margin-top:10px;margin-bottom:10px;}
.panel .content.border{background:#fff;padding:10px;border:1px solid #ddd;}

.right{float:right !important}
.left{float:left;}
.hide{display:none;}

form{}
form label{display:block;margin-bottom:5px;}
form small{}
form fieldset{position:relative;display:block;border:1px solid #ccc;border-radius:4px;padding:2px 5px;background:#fff;}
form fieldset input,form fieldset textarea,form fieldset select{font-size:15px;height:30px;line-height:30px;width:100%;border:0;outline:none;padding:0;margin:0}
form input.check,form input.radio{margin:0;}
form input.btn{padding:0;margin:0;background:none;border:0;}

.grid{width:100% !important;}
.grid th{font-weight:normal;padding:10px;text-align:left;position:relative;}
.grid tr td{border-top:1px solid #c8c8c8;padding:10px}
.grid tr td a{position:relative;}
.grid tr:nth-child(2n+2) td{background:#f2f2f2}
